# CONFIGURACIÓN DEL SERVIDOR
PORT=4000
NODE_ENV=development

# BASE DE DATOS (Prisma)
DATABASE_URL="postgresql://usuario:password@localhost:5432/nombre_db?schema=public"

# SEGURIDAD (Genera una clave larga y segura)
JWT_SECRET=tu_secreto_super_seguro_aqui
JWT_EXPIRES_IN=7d

# CORS / FRONTEND
FRONTEND_URL=http://localhost:5173

# API EXTERNA (Para scripts ETL)
API_FOOTBALL_KEY=tu_api_key_de_api_sports
API_FOOTBALL_URL=https://v3.football.api-sports.io

# CONFIGURACIÓN DE EMAIL (Recuperación de contraseña)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=tu_correo@gmail.com
EMAIL_PASS=tu_password_de_aplicacion